// Override initial variables here
// You can add new ones or update existing ones:

$primary-blue: #28c0d5;
$secondary-blue: #b6e1e1;
$bg-blue:#1c4888;
$bg-blue-2:#070659;
$off-white:#fefefe;
$accent-bg:#4A89DC;
$accent-bg-2:#4cae4c;
$accent-facebook:#3b5998;
