@import "variables";
// Variables
@import "mdb/free/data/colors";
@import "mdb/free/data/variables-b4";
@import "mdb/free/data/variables";

// MDB Framework //

// Mixins
@import "mdb/free/data/prefixer";
@import "mdb/free/data/mixins";



//Global
@import "mdb/free/global";

// MDB Free
@import "mdb/free/roboto";
@import "mdb/free/typography";
@import "mdb/free/animations";
@import "mdb/free/waves";
@import "mdb/free/helpers";
@import "mdb/free/buttons";
@import "mdb/free/forms-basic";
@import "mdb/free/cards-basic";
@import "mdb/free/navbars";
@import "mdb/free/hover-effects";
@import "mdb/free/footer";
@import "mdb/free/carousels-basic";
@import "mdb/free/modals";

// MDB Premium
@import "mdb/pro/forms-pro";
@import "mdb/pro/tabs";
@import "mdb/pro/msc";
@import "mdb/pro/progress";
@import "mdb/pro/accordion";
@import "mdb/pro/buttons-pro";
@import "mdb/pro/social-buttons";
@import "mdb/pro/cards-pro";
@import "mdb/pro/dropdowns-pro";
@import "mdb/pro/light-box";
@import "mdb/pro/side-nav";
@import "mdb/pro/navbars-pro";
@import "mdb/pro/carousels-pro";
@import "mdb/pro/modals-pro";
@import "mdb/pro/toasts";
@import "mdb/pro/scrollspy";
@import "mdb/pro/charts-pro";
@import "mdb/pro/animations-pro";
@import "mdb/pro/scrollbar";
@import "mdb/pro/ecommerce";
@import "mdb/pro/skins";
@import "mdb/pro/chips";
@import "mdb/pro/parallax";
@import "mdb/pro/stepper";

// DATE & TIME PICKERS
@import "mdb/pro/date_picker/default";
@import "mdb/pro/date_picker/default.date";
@import "mdb/pro/date_picker/default.time";

// SECTIONS
@import "mdb/pro/sections/blog";
@import "mdb/pro/sections/magazine";
@import "mdb/pro/sections/pricing";
@import "mdb/pro/sections/testimonials";
@import "mdb/pro/sections/features";
@import "mdb/pro/sections/team";
@import "mdb/pro/sections/templates";
@import "mdb/pro/sections/social";

//CUSTOM CSS
main
{
  min-height: 100vh;
}
body
{
  background-color: black;
  background-size:cover;
  background-image:url('/img/heartSkate-xs.jpg');
}

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {
  body
  {
    background-image:url('/img/heartSkate-sm.jpg');

  }

}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
  body
  {
    background-image:url('/img/heartSkate-md.jpg');

  }

}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
  body
  {
    background-image:url('/img/heartSkate-lg.jpg');

  }

}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
  body
  {
    background-image:url('/img/heartSkate.jpg');
    background-position: bottom;

  }

}