.prenav
{
  width:100vw;
  height: 30px;
}
#myCarousel
{
  margin: 0 auto;
}
.side-panel
{

  margin-top: -20px;
  padding: 0;
  border-right:1px solid $secondary-blue;
}
.side-panel>#side-collapse
{
  height: 100%;
  min-height: 100vh;
  background-color: #efefef;
}
.page
{
  min-height:80vh;
}
.page-title
{
  text-align: center;
  padding-top: 30px;
}
.item-info
{
  min-height: 600px;
}
.divider
{
  width:100px;
  display: block;
  border-bottom: 5px solid $bg-blue;
  margin-top: 0;
  padding-top: 0;

}
.account-tab-inner
{
  min-height: 300px;
  background-color: #eeeeee;
}
.account-tab-inner h2
{
  text-align: center;
  font-size: 1.5em;
  font-weight: bold;
  background-color: #1b6d85;
  color: white;
  padding-top: 7px;
  padding-bottom: 7px;
}

.account-tab-inner .material-button, .account-tab-inner p, .account-tab-inner li
{
  width: auto;
  margin-left: 10px;
  margin-right: 10px;
}
.side-panel h2
{
  background-color: $bg-blue;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left:10px;
  color:white;
  margin-top: 0;
  font-size: 2.0rem;
  margin-bottom: 0;
}
.side-panel h2 a
{
  color: white;
}
.side-panel h3
{
  color:#404040;
  font-size: 1.5rem;
  font-weight:bold;

}
.side-panel h3:first-of-type
{
  margin-top: 0;
}
.side-panel p
{
  color:#404040;
  margin-bottom: 0;
}
.side-panel hr
{
  border-top-color: $secondary-blue;
}
.navbar-brand
{
  background-color: white;
  padding: 0;
  margin-left: -1px;
}
.navbar-brand img
{
  height:50px;
}
.main-body
{
  padding: 0;
}
.login-page
{
  margin-top: -20px;
  padding-top: 10px;
}
  .login-page .view-container
  {
    background-color: $bg-blue-2;
  }
.login-page h1
{
  text-align: center;
  color: #fff;
}
.page-footer
{
  background-color: #0A0A0A;
  padding: 0 0 20px 0;
  color: #fff;
}
.page-footer:before
{
  content: "";
  height: 25px;
  background-color: $bg-blue;
  width: 100%;
}
.page-footer p
{
  text-align: center;
  color:#5e5e5e;
  margin-top:35px;
}

/*General Form Styling*/
.material-form{
  padding: 3em 2em 2em 2em;
  border: 1px solid #ebebeb;
  background: #fafafa;
  margin-bottom: 100px;
}
input.cash:before
{
  content:'$';
}
.material-form-input-group {
  position: relative;
  margin-bottom: 15px;
}
.material-form-input-group>label {
  color: #999;
  font-size: 18px;
  font-weight: normal;
  position: absolute;
  pointer-events: none;
  left: 5px;
  top: 10px;
  transition: all 0.2s ease;
}
.carousel-control .fa
{
  position: absolute;
  top:50%;
  z-index: 5;
  display: inline-block;
}
.material-form-input
{
  font-size: 18px;
  padding: 10px 0px 10px 0px;
  -webkit-appearance: none;
  display: block;
  background: #fafafa;
  color: #636363;
  border: none;
  border-radius: 0;
  border-bottom: 1px solid #757575;
  width:100%;
}
.material-form-input:focus
{
  outline: none;
}
.material-form-input:focus ~ label, .material-form-input.used ~ label {
  top: -20px;
  transform: scale(.75); left: -2px;
  /* font-size: 14px; */
  color: $accent-bg;
}
.material-form-input:focus ~ .bar:before, .material-form-input:focus ~ .bar:after
{
  width: 50%;
}
.material-form p
{
  margin-top: 15px;
}
.bar {
  position: relative;
  display: block;
  width: 100%;
}

.bar:before, .bar:after {
  content: '';
  height: 2px;
  width: 0;
  bottom: 1px;
  position: absolute;
  background: $accent-bg;
  transition: all 0.2s ease;
}

.bar:before { left: 50%; }

.bar:after { right: 50%; }
.highlight {
  position: absolute;
  height: 60%;
  width: 100px;
  top: 25%;
  left: 0;
  pointer-events: none;
  opacity: 0.5;
}
.material-button {
  position: relative;
  display: inline-block;
  padding: 12px 24px;
  margin: .3em 0 0em 0;
  width: 100%;
  vertical-align: middle;
  color: #fff;
  font-size: 16px;
  line-height: 20px;
  -webkit-font-smoothing: antialiased;
  text-align: center;
  letter-spacing: 1px;
  border: 0;
  border-bottom: 2px solid #3160B6;
  cursor: pointer;
  transition: all 0.15s ease;
}
.material-button:focus {
  outline: 0;
}
.material-button:enabled:active
{
  box-shadow: 0 8px 10px 1px rgba(0, 0, 0, 0.14),
  0 3px 14px 2px rgba(0, 0, 0, 0.12),
  0 5px 5px -3px rgba(0, 0, 0, 0.4)!important;
}
.material-button:disabled
{
  background-color: #DFDFDF!important;
  color: #a8a8a8!important;
  border-bottom: 2px solid #a8a8a8!important;
}
.material-button:enabled:hover
{
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14),
  0 1px 5px 0 rgba(0, 0, 0, 0.12),
  0 3px 1px -2px rgba(0, 0, 0, 0.2);
}
.material-form-input:focus ~ .highlight {
  animation: inputHighlighter 0.3s ease;
}
.ripples {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background: transparent;
}
.ripplesCircle {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
  width: 0;
  height: 0;
  border-radius: 50%;
  background: rgba(255, 255, 255, 0.25);
}
.ripples.is-active .ripplesCircle {
  animation: ripples .4s ease-in;
}
.error
{
  color:red;
}
.material-error
{/*Error message default styling*/
  opacity: 0;
  transition: all 0.3s linear;
}
/*Form error classes*/
.material-form-input-group.invalid> label
{
  color:red;
}
.material-form-input-group.invalid > .bar:before,.material-form-input-group.invalid > .bar:after
{
  background:red;
}
.material-form-input.dirty.invalid
{
  border-color: red;
}
.material-form-input-group.invalid > .material-error
{
  opacity: 1;
}
.material-error.show-error
{
  opacity: 1;
}
.form-error
{
  border: 1px solid rgba(0,0,0,0);
  background-color: rgba(0,0,0,0);
  color: rgba(0,0,0,0);
  margin-top: 30px;
  margin-bottom: 10px;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}
.form-error--show
{
  border: 1px solid red;
  background-color: $off-white;
  color: red;
}
.accent-bg
{
  background-color: $accent-bg;
  color:white;
}
.accent-bg-1
{
  background-color: $accent-bg-2;
  color:white;
}
.fb-bg
{
  background-color: $accent-facebook;
  color:white;
}
.g-recaptcha {
  display: inline-block;
  margin-bottom: 25px;
}
.reg-form
{
  margin-top: -25px;
  padding-bottom: 100px;
}
.reg-form h1
{
  background-color: $bg-blue;
  margin:0 -15px 20px -15px;
  font-size: 3rem;
  color: white;
  text-align: center;
  padding: 45px 15px 30px 15px;
  border-bottom: 10px solid $secondary-blue;
}
.reg-form fieldset:first-of-type
{
  border-bottom: 5px solid $secondary-blue;
}
/*Shadow Classes*/

.shadow-elevation-2dp {
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14),
  0 1px 5px 0 rgba(0, 0, 0, 0.12),
  0 3px 1px -2px rgba(0, 0, 0, 0.2);
}
.shadow-elevation-3dp {
  box-shadow: 0 3px 4px 0 rgba(0, 0, 0, 0.14),
  0 1px 8px 0 rgba(0, 0, 0, 0.12),
  0 3px 3px -2px rgba(0, 0, 0, 0.4);
}
.shadow-elevation-4dp {
  box-shadow: 0 4px 5px 0 rgba(0, 0, 0, 0.14),
  0 1px 10px 0 rgba(0, 0, 0, 0.12),
  0 2px 4px -1px rgba(0, 0, 0, 0.4);
}
.shadow-elevation-6dp {
  box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.14),
  0 1px 18px 0 rgba(0, 0, 0, 0.12),
  0 3px 5px -1px rgba(0, 0, 0, 0.4);
}
.shadow-elevation-8dp {
  box-shadow: 0 8px 10px 1px rgba(0, 0, 0, 0.14),
  0 3px 14px 2px rgba(0, 0, 0, 0.12),
  0 5px 5px -3px rgba(0, 0, 0, 0.4);
}
.shadow-elevation-12dp {
  box-shadow: 0 12px 16px 1px rgba(0, 0, 0, 0.14),
  0 4px 22px 3px rgba(0, 0, 0, 0.12),
  0 6px 7px -4px rgba(0, 0, 0, 0.4);
}
.shadow-elevation-16dp {
  box-shadow: 0 16px 24px 2px rgba(0, 0, 0, 0.14),
  0  6px 30px 5px rgba(0, 0, 0, 0.12),
  0  8px 10px -5px rgba(0, 0, 0, 0.4);
}
.shadow-elevation-24dp {
  box-shadow: 0 24px 38px 3px rgba(0, 0, 0, 0.14),
  0 9px 46px 8px rgba(0, 0, 0, 0.12),
  0 11px 15px -7px rgba(0, 0, 0, 0.4);
}

/*Animations*/
@keyframes ripples {
  0% { opacity: 0; }

  25% { opacity: 1; }

  100% {
    width: 200%;
    padding-bottom: 200%;
    opacity: 0;
  }
}



.side-menu
{
  position: fixed;
  top:0;
  bottom:0;
  left:0;
  z-index: 120;
  background-color: white;
  width: 290px;
  transition: all 0.3s;
  overflow-x: visible!important;
}
.side-menu form::-webkit-scrollbar
{
  max-width:5px;
}
.side-menu-header
{
  height:64px;
  padding: 0;
  margin: 0;
  color:white;
  background-color: $primary-blue;
}
.side-menu-header h2
{
  margin-top: 0;
  text-align: center;
}
.side-menu-header p
{
  margin: 0;
  padding: 0;
  font-size: 14px;
  font-weight: bold;
}
.side-menu-header p:nth-of-type(2)
{
  font-weight: normal;
  font-size: 12px;
}
.side-menu-header-image
{
  margin-top: 8px;
  margin-bottom: 8px;
  margin-left: 16px;
  margin-right: 8px;
  height:48px;
  width: 48px;
  border-radius: 50%;
}


/*View Styling*/
.view-container
{
  clear:both;
  position: absolute;
  top:0;
  bottom:0;
  left:0;
  right:0;
  z-index:90;
  min-height:100vh;
}
.view-container>.content
{
  padding: 60px 5px 0 5px;
  max-width:1160px;
  margin:0 auto;
  height: 100%;

}
.view-container>.content p
{
  padding-top: 0;
}
.side-menu-toggler
{
  position: absolute;
  height: 45px;
  width:80px;
  background-color: $bg-blue;
  z-index: 150;
  left: 240px;
  top:100px;
  cursor:pointer;
  display: none;
}
.side-menu .row
{
  padding-top: 0;
}
.side-menu p
{
  margin-bottom: 5px;
}
.side-menu h3
{
  margin-top: 0;
  padding-top: 10px;
  font-size: 2rem;
  color:$primary-blue;
}
.vert-center
{
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}
.notice
{
  font-size: 18px;
}
.md-btn-center
{
  max-width: 360px;
  margin: 0 auto 60px auto;
}
@media (max-width: 1650px)
{
  .side-menu--hidden
  {

    left: -300px;
  }
  .side-menu-toggler
  {
    display: block;
  }
}
input[type=file]
{
  width: 0.1px;
  height: 0.1px;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  z-index: -1;
}